In [1]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np

In [2]:
file = "joined_traffic_weather.csv"
original_df = pd.read_csv(file)
original_df.head()

,Date,Time_of_Day,Max,Min,Average,Precipitation,Victim_Age,Victim_Sex,DR_Number,Time_Occurred,...,Crime_Code,Crime_Code_Description,MO_Codes,Premise_Code,Premise_Description,Address,Cross_Street,Location,Latitude,Longitude
0,2019-01-01,12:00 AM,62,38,50.0,0.0,30,M,191504179,5,...,997,TRAFFIC COLLISION,3006 3030 3028 3037 3101 3401 3701 4026,101,STREET,GENTRY AV,VANOWEN ST,"34.194, -118.3932",34.1940,-118.3932
1,2019-01-01,3:00 PM,62,38,50.0,0.0,74,M,191504198,1500,...,997,TRAFFIC COLLISION,0605 3101 3004 3036 3030 3028 3401 3701 4015,101,STREET,VICTORY BL,TUJUNGA AV,"34.1867, -118.379",34.1867,-118.3790
2,2019-01-01,10:00 PM,62,38,50.0,0.0,23,F,190404052,2230,...,997,TRAFFIC COLLISION,3101 3401 3701 3004 3030 0605,101,STREET,1ST ST,SAVANNAH ST,"34.0333, -118.1946",34.0333,-118.1946
3,2019-01-01,12:00 PM,62,38,50.0,0.0,72,M,190404036,1200,...,997,TRAFFIC COLLISION,3101 3401 3701 3004 3026 3036,101,STREET,WHITTIER,ORME,"34.0325, -118.2115",34.0325,-118.2115
4,2019-01-01,1:00 PM,62,38,50.0,0.0,46,F,192104017,1340,...,997,TRAFFIC COLLISION,3004 3037 3034 3025 3101 3401 3701 4026,101,STREET,CARLSON CI,SHERMAN WY,"34.201, -118.6129",34.2010,-118.6129

In [3]:
original_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46756 entries, 0 to 46755
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    46756 non-null  object
 1   Time_of_Day             46756 non-null  object
 2   Max                     46756 non-null  int64
 3   Min                     46756 non-null  int64
 4   Average                 46756 non-null  float64
 5   Precipitation           46756 non-null  float64
 6   Victim_Age              46756 non-null  int64
 7   Victim_Sex              46756 non-null  object
 8   DR_Number               46756 non-null  int64
 9   Time_Occurred           46756 non-null  int64
 10  Area_ID                 46756 non-null  int64
 11  Area_Name               46756 non-null  object
 12  Reporting_District      46756 non-null  int64
 13  Crime_Code              46756 non-null  int64
 14  Crime_Code_Description  46756 non-null  object
 15  MO_Codes                46756 non-null  object
 16  Premise_Code            46756 non-null  int64
 17  Premise_Description     46756 non-null  object
 18  Address                 46756 non-null  object
 19  Cross_Street            46756 non-null  object
 20  Location                46756 non-null  object
 21  Latitude                46756 non-null  float64
 22  Longitude               46756 non-null  float64
dtypes: float64(4), int64(9), object(10)
memory usage: 8.2+ MB