In [4]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np

In [5]:
file = "updated_traffic_data_final.csv"
original_df = pd.read_csv(file)
original_df.head()

,Unnamed: 0,DR_Number,Date,Time_of_Day,Date_Occurred,Time_Occurred,Area_ID,Area_Name,Reporting_District,Crime_Code,...,MO_Codes,Victim_Age,Victim_Sex,Premise_Code,Premise_Description,Address,Cross_Street,Location,Latitude,Longitude
0,1,191504179,2019-01-01,12:00 AM,2019-01-01,5,15,N Hollywood,1514,997,...,3006 3030 3028 3037 3101 3401 3701 4026,30,M,101,STREET,GENTRY AV,VANOWEN ST,"34.194, -118.3932",34.1940,-118.3932
1,3,191504198,2019-01-01,3:00 PM,2019-01-01,1500,15,N Hollywood,1526,997,...,0605 3101 3004 3036 3030 3028 3401 3701 4015,74,M,101,STREET,VICTORY BL,TUJUNGA AV,"34.1867, -118.379",34.1867,-118.3790
2,4,190404052,2019-01-01,10:00 PM,2019-01-01,2230,4,Hollenbeck,469,997,...,3101 3401 3701 3004 3030 0605,23,F,101,STREET,1ST ST,SAVANNAH ST,"34.0333, -118.1946",34.0333,-118.1946
3,5,190404036,2019-01-01,12:00 PM,2019-01-01,1200,4,Hollenbeck,477,997,...,3101 3401 3701 3004 3026 3036,72,M,101,STREET,WHITTIER,ORME,"34.0325, -118.2115",34.0325,-118.2115
4,7,192104017,2019-01-01,1:00 PM,2019-01-01,1340,21,Topanga,2134,997,...,3004 3037 3034 3025 3101 3401 3701 4026,46,F,101,STREET,CARLSON CI,SHERMAN WY,"34.201, -118.6129",34.2010,-118.6129

In [6]:
original_df.drop(['Unnamed: 0'], axis=1, inplace=True)
original_df

,DR_Number,Date,Time_of_Day,Date_Occurred,Time_Occurred,Area_ID,Area_Name,Reporting_District,Crime_Code,Crime_Code_Description,MO_Codes,Victim_Age,Victim_Sex,Premise_Code,Premise_Description,Address,Cross_Street,Location,Latitude,Longitude
0,191504179,2019-01-01,12:00 AM,2019-01-01,5,15,N Hollywood,1514,997,TRAFFIC COLLISION,3006 3030 3028 3037 3101 3401 3701 4026,30,M,101,STREET,GENTRY AV,VANOWEN ST,"34.194, -118.3932",34.1940,-118.3932
1,191504198,2019-01-01,3:00 PM,2019-01-01,1500,15,N Hollywood,1526,997,TRAFFIC COLLISION,0605 3101 3004 3036 3030 3028 3401 3701 4015,74,M,101,STREET,VICTORY BL,TUJUNGA AV,"34.1867, -118.379",34.1867,-118.3790
2,190404052,2019-01-01,10:00 PM,2019-01-01,2230,4,Hollenbeck,469,997,TRAFFIC COLLISION,3101 3401 3701 3004 3030 0605,23,F,101,STREET,1ST ST,SAVANNAH ST,"34.0333, -118.1946",34.0333,-118.1946
3,190404036,2019-01-01,12:00 PM,2019-01-01,1200,4,Hollenbeck,477,997,TRAFFIC COLLISION,3101 3401 3701 3004 3026 3036,72,M,101,STREET,WHITTIER,ORME,"34.0325, -118.2115",34.0325,-118.2115
4,192104017,2019-01-01,1:00 PM,2019-01-01,1340,21,Topanga,2134,997,TRAFFIC COLLISION,3004 3037 3034 3025 3101 3401 3701 4026,46,F,101,STREET,CARLSON CI,SHERMAN WY,"34.201, -118.6129",34.2010,-118.6129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46751,190721628,2019-12-31,11:00 AM,2019-12-31,1130,7,Wilshire,783,997,TRAFFIC COLLISION,3004 3025 3035 3037 3101 3401 3701 4027,33,M,101,STREET,WASHINGTON BL,REDONDO BL,"34.0414, -118.3539",34.0414,-118.3539
46752,201604241,2019-12-31,6:00 AM,2019-12-31,650,16,Foothill,1663,997,TRAFFIC COLLISION,3004 3036 3030 3028 3101 4016,53,M,101,STREET,SAN FERNANDO RD,SHELDON ST,"34.2393, -118.3938",34.2393,-118.3938
46753,190721627,2019-12-31,11:00 AM,2019-12-31,1125,7,Wilshire,738,997,TRAFFIC COLLISION,3004 3026 3035 3036 3101 3401 3701 4027,65,M,101,STREET,6TH ST,HIGHLAND AV,"34.065, -118.3386",34.0650,-118.3386
46754,190418571,2019-12-31,11:00 AM,2019-12-31,1150,4,Hollenbeck,442,997,TRAFFIC COLLISION,3101 3401 3701 0605 3006 3034,51,M,101,STREET,STATE ST,POMEROY,"34.0566, -118.211",34.0566,-118.2110
46755,191324771,2019-12-31,8:00 AM,2019-12-31,800,13,Newton,1383,997,TRAFFIC COLLISION,0605 3101 3401 3701 3004 3030,30,M,101,STREET,SLAUSON AV,S FIGUEROA ST,"33.9858, -118.2739",33.9858,-118.2739

In [7]:
original_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46756 entries, 0 to 46755
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DR_Number               46756 non-null  int64
 1   Date                    46756 non-null  object
 2   Time_of_Day             46756 non-null  object
 3   Date_Occurred           46756 non-null  object
 4   Time_Occurred           46756 non-null  int64
 5   Area_ID                 46756 non-null  int64
 6   Area_Name               46756 non-null  object
 7   Reporting_District      46756 non-null  int64
 8   Crime_Code              46756 non-null  int64
 9   Crime_Code_Description  46756 non-null  object
 10  MO_Codes                46756 non-null  object
 11  Victim_Age              46756 non-null  int64
 12  Victim_Sex              46756 non-null  object
 13  Premise_Code            46756 non-null  int64
 14  Premise_Description     46756 non-null  object
 15  Address                 46756 non-null  object
 16  Cross_Street            46756 non-null  object
 17  Location                46756 non-null  object
 18  Latitude                46756 non-null  float64
 19  Longitude               46756 non-null  float64
dtypes: float64(2), int64(7), object(11)
memory usage: 7.1+ MB

In [8]:
original_df.to_csv("traffic_data_clean_final.csv", index=False)